/* estilos generales */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

.contenedor{
  width: 90%;
  max-width: 1080px;
  margin: 0 auto;;
}

/* =======Encabezado======= */
.menu-desktop{
  width: 100%;
  min-height: 68px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  padding: 0 36px;
  background: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 100;
}
.logo{
  display: inline-block;
  width: 50px;
}
.logo p{
  font-family: 'Titillium Web', sans-serif;
}
.menu-principal a, .top-redes a{
  display: inline-block;
  padding: 0 10px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  font-size: 0.875rem;
  letter-spacing: 0;
  line-height: 1.5em;
  transition: all .3s ease;
}
.menu-principal a:last-child, .top-redes a:last-child{
  padding-right: 0;
}
.top-redes a i{
  font-size: 1rem;
}
.menu-principal a:hover, .top-redes a:hover{
  color: #0089e0;
}

/* menu movil */
.menu-movil{
  display: none;
}

/* //menu fixed */
.menu-fixed{
  width: 100%;
  min-height: 68px;
  border-bottom: 1px solid rgba(204, 204, 204, 0.5);
  padding: 0 36px;
  background: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 100;
  transition: all .4s ease;
  margin-top: -68px;
}
.menu-fixed .menu-principal a, .menu-fixed .top-redes a{
  color: #444444;
}
.menu-fixed .menu-principal a:hover, .menu-fixed .top-redes a:hover{
  color: #0089E0;
}

/* =======MAIN======= */

/* BANNER PRINCIPAL */
.main{
  width: 100%;
  margin-top: -68px;
}

.main .banner-principal{
  width: 100%;
  position: relative;
}

.main .banner-principal .banner{
  width: 100%;
  height: 100vh;
  background-image: url("../img/book-3713714_1920.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.main .banner-principal .texto-banner{
  display: inline-block;
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%  );
  text-align: center;
}

.main .banner-principal .texto-banner h2{
  font-weight: 300;
  color: #fff;
  margin-bottom: 20px;
}
.main .banner-principal .texto-banner h1{
  font-size: 6.625rem;
  font-weight: 700;
  line-height: 90px;
  color: #fff;
  margin-bottom: 20px;
}
.main .banner-principal .texto-banner a{
  text-decoration: none;
  display: inline-block;
  padding: 8px 20px;
  background: #0089E0;
  color: #fff;
  transition: all .7s ease;
  cursor: pointer;
}
.main .banner-principal .texto-banner a:hover{
  background: #fff;
  color: #0089E0;
}

/* -----proyectos------ */

.main .proyectoss{
  background: #f3f4fa;
  padding: 108px 0 54px 0;
}
.main .proyectos .contenedor .galeria-proyectos{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 34px;
  border-bottom: 1px solid #ccc;
}
.main .proyectos .galeria-proyectos .proyecto{
  width: 32%;
  margin-bottom: 2%;
  cursor: pointer;
}
.main .proyectos .galeria-proyectos .proyecto img{
  width: 100%;
  vertical-align: top;
}
