/* estilos generales */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

.contenedor{
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;;
}
.titulo-section{
  text-align: center;
  margin-bottom: 40px;
}
.titulo-section h2{
  color: #0089e0;
  font-size: 3.12rem;
  margin-bottom: 15px;
  font-weight: 500;
}
.titulo-section p{
  color: #979797;
  font-size: 1rem;
  font-weight: 400;
}

.btn-volver-arriba{
  display: inline-block;
  width: 40px;
  height: 40px;
  background: rgba(0,0,0,0.5);
  border-radius: 30%;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99999;
  margin-right: -60px;
  transition: all .4s ease;
}
.btn-volver-arriba a{
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 30%;
  text-align: center;
}
.btn-volver-arriba a i{
  font-size: 1rem;
  color: #fff;
  line-height: 40px;

}
/* =======Encabezado======= */
.menu-desktop{
  width: 100%;
  min-height: 68px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  padding: 0 36px;
  background: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 100;
}
.logo{
  display: inline-block;
  width: 50px;
}
.menu-desktop .logo {
  text-decoration: none;
  color: #fff;
  font-size: 2.5rem;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1.5em;
  transition: all .3s ease;
}
.menu-desktop .logo:hover{
  color: #0089e0;
}
.menu-principal a, .top-redes a{
  display: inline-block;
  padding: 0 10px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  font-size: 0.875rem;
  letter-spacing: 0;
  line-height: 1.5em;
  transition: all .3s ease;
}
.menu-principal a:last-child, .top-redes a:last-child{
  padding-right: 0;
}
.top-redes a i{
  font-size: 1rem;
}
.menu-principal a:hover, .top-redes a:hover{
  color: #0089e0;
}

/* menu movil */
.menu-movil{
  display: none;
}

/* //menu fixed */
.menu-fixed{
  width: 100%;
  min-height: 68px;
  border-bottom: 1px solid rgba(204, 204, 204, 0.5);
  padding: 0 36px;
  background: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 100;
  transition: all .4s ease;
  margin-top: -68px;
}
.menu-fixed .menu-principal a, .menu-fixed .top-redes a{
  color: #444444;
}
.menu-fixed .menu-principal a:hover, .menu-fixed .top-redes a:hover{
  color: #0089E0;
}
.menu-fixed .logo, .menu-movil .logo {
  text-decoration: none;
  color: #fff;
  font-size: 2.5rem;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1.5em;
  transition: all .3s ease;
}
.menu-fixed .logo p, .menu-movil .logo p{
  color: #444444;
}
.menu-fixed .logo p:hover{
  color: #0089E0;
}

/* =======MAIN======= */

/* BANNER PRINCIPAL */
.main{
  width: 100%;
  margin-top: -68px;
}

.main .banner-principal{
  width: 100%;
  position: relative;
}

.main .banner-principal .banner{
  width: 100%;
  height: 100vh;
  background-image: url("../img/laptop-2557571_1920.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.main .banner-principal .texto-banner{
  display: inline-block;
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%  );
  text-align: center;
}

.main .banner-principal .texto-banner h2{
  font-weight: 300;
  color: #fff;
  margin-bottom: 20px;
}
.main .banner-principal .texto-banner h1{
  font-size: 6.625rem;
  font-weight: 700;
  line-height: 90px;
  color: #fff;
  margin-bottom: 20px;

}

.main .banner-principal .texto-banner a{
  text-decoration: none;
  display: inline-block;
  padding: 8px 20px;
  background: #0089E0;
  color: #fff;
  transition: all .7s ease;
  cursor: pointer;
}
.main .banner-principal .texto-banner a:hover{
  background: #fff;
  color: #0089E0;
}

.main .banner-principal .texto-banner p{
  color: #fff;
  margin-bottom: 2%;
  font-weight: 300;
  font-size: 1.1rem;
  font-style: italic;
}

/* -----servicios------ */

.main .servicios{
  background: #f3f4fa;
  padding: 54px 0 54px 0;
}
.main .servicios .contenedor .galeria-servicios{
  width: 100%;
  height: auto;
  margin: auto;
  display: flex;
  /* flex-direction: row; */
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 34px;
  border-bottom: 1px solid #ccc;
}
.main .servicios .contenedor .galeria-servicios .tarjeta
{
  width: 32%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 20px;
  text-align: center;
  transition: all 0.2s ease;
  background: #fff;
}

.main .servicios .contenedor .galeria-servicios .tarjeta:hover{
  transform: translate(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}
.main .servicios .contenedor .galeria-servicios .tarjeta img{
  width: 50%;
  height: auto;
  margin-top: 10px;
}
.main .servicios .contenedor .galeria-servicios .tarjeta  h4{
  color: #0089e0;
  font-size: 1.5rem;
  font-weight: 400;
  margin: 10px;
}
.main .servicios .contenedor .galeria-servicios .tarjeta p{
  color: #979797;
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}


/* ------modal de las fotos ------ */


/* sobre nosotros  */
.main .sobre-nosotros{
  background: #f3f4fa;
}
.main .sobre-nosotros .contenedor{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.main .sobre-nosotros .contenedor .titulo-section{
  width: 40%;
  text-align: left;
}
.main .sobre-nosotros .contenedor .titulo-section h2{
  margin-bottom: 0;
}
.main .sobre-nosotros .texto-sobre-nosotros{
  width: 60%;
  text-align: left;
}
.main .sobre-nosotros .texto-sobre-nosotros p{
  color: #979797;
  font-size: 1rem;
  font-weight: 400;
  padding-bottom: 20px;
}


/* -----SLIDER------ */
.main .contenedor-slider .titulo-slider{
  text-align: center;
}
.main .contenedor-slider .titulo-slider h2{
  color: #FF9500;
  font-size: 3.12rem;
  margin-bottom: 15px;
  font-weight: 500;
  border-bottom: 1px solid #D5D8DC;
}


.main .contenedor-slider{
  width: 100%;
  background: #f3fafa;
  padding: 54px 0;
  position: relative;
  overflow: hidden;
}

.main .contenedor-slider  .slider{
  width: 400%;
  display: flex;
}
.main .contenedor-slider  .slider .slide{
  width: 15%;
  max-width: 950px;
  margin-right: 0.7%;
  box-shadow: 0px 20px 40px #aaa;

}
.main .contenedor-slider  .slider .slide img{
  width: 100%;
  vertical-align: top;
}

/* botones */

.main .contenedor-slider .btn-anterior,.main .contenedor-slider .btn-siguiente{
  display: inline-block;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.main .contenedor-slider .btn-anterior{
  left: 2%;
}
.main .contenedor-slider .btn-siguiente{
  right: 2%;
}
.main .contenedor-slider .btn-anterior i,.main .contenedor-slider .btn-siguiente i{
  color: #B26800;
  font-size: 2rem;
}
.main .contenedor-slider .btn-anterior i:hover,.main .contenedor-slider .btn-siguiente i:hover{
  color: #FF9500;
}

.main .contenedor-slider  .slider .tarjeta{
  text-align: center;
}

.main .contenedor-slider  .slider .tarjeta img{
  width: 20%;

}
.main .contenedor-slider  .slider .tarjeta h4{
  color: #B26800;
  text-align: center;
  font-weight: 400;
  font-size: 1.5rem;
}
.main .contenedor-slider  .slider .tarjeta p{
  padding: 10px;
}

.main .contenedor-slider  .slider .tarjeta .verMas{
  /* display: none; */
}
.main .contenedor-slider  .slider .tarjeta .verMas p a{

  display: none;
}






/* ------Equipo------ */
.main .equipo {
   background: #f3f4fa;
   padding-top: 54px;
   padding-bottom: 108px;
}
.main .equipo .integrantes{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.main .equipo .integrantes .persona{
  background: #fff;
  padding: 50px;
  width: 100%;
  max-width: 450px;
  box-shadow: 0px 9px 32px -1px rgba(0,0,0,.3);
  text-align: center;
  margin: 10px;
  border-radius: 8px;
}
.main .equipo .integrantes .persona .foto{

}
.main .equipo .integrantes .persona .foto img{
  width: 100%;
  max-width: 250px;
  border-radius: 100%;
}
.main .equipo .integrantes .persona .texto h3{
  font-size: 1.3rem;
  font-weight: 500;
  color: #0089e0;
}
.main .equipo .integrantes .persona .texto h4{
  color: #979797;
  font-size: 0.8rem;
  font-weight: 400;
  margin-bottom: 15px;
}
.main .equipo .integrantes .persona .texto p{
  color: #979797;
  font-size: 0.9;
  font-weight: 400;
  text-align: left;
}
.main .equipo .contenedor .titulo-section{
  box-shadow: 5px 5px 1px rgba(0,0,0,.2);
}

/* -------clientes---------- */



/* -----contacto------- */
.main .contacto{
  padding: 190px 0;
  /* background-image: url("../img/contacto2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; */

}

.main .contacto .contenedor-formulario{
  background: #fff;
  min-height: 485px;
  border-radius: 3px;
  box-shadow: 0 9px 32px -1px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-between;
}
.main .contacto .contenedor-formulario .formulario{
  width: 50%;
  padding: 70px;
}
.main .contacto .contenedor-formulario .formulario h2{
  font-size: 1.375rem;
  line-height: 24px;
  color: #0089e0;
  font-weight: 500;
  margin-bottom: 10px;
}
.main .contacto .contenedor-formulario .formulario p{
  color: #979797;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 30px;
}
.main .contacto .contenedor-formulario .formulario form input[type="text"],.main .contacto .contenedor-formulario .formulario form input[type="email"]{
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
  outline: none;
  width: 100%;
  margin-bottom: 10px;
  color: #979797;
  font-size: 0.9rem;
  font-weight: 400;
  letter-spacing: 0.5px;
}
.main .contacto .contenedor-formulario .formulario form textarea{
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
  outline: none;
  width: 100%;
  max-width: 100%;
  max-height: 88px;
  min-height: 88px;
  color: #979797;
  margin-bottom: 10px;
  font-size: 0.9rem;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}
.main .contacto .contenedor-formulario .formulario form input[type="submit"]{
  width: 100%;
  border: none;
  border: 1x solid #0089e0;
  padding: 8px;
  background:  #0089e0;
  color: #fff;
  font-size: 0.9rem;
  letter-spacing: 0.5px;
  cursor: pointer;
  transition: all .7s ease;
  font-family: "Poppins", sans-serif;
}
.main .contacto .contenedor-formulario .formulario form input[type="submit"]:hover{
  background: #fff;
  color: #0089e0;
  border: 1px solid  #0089e0;
}
.main .contacto .contenedor-formulario .foto{
  width: 50%;
  background-image: url("../img/formulario.jpg");
  background-size: cover;
}

/* validaciones */
.main .contacto .contenedor-formulario .formulario form .error{
  color: #ff8686;
  font-size:  12px;
  margin-top: -10px;
  margin-bottom: 10px;
  display: none;
}


/* ------pie de pagina----- */
footer{
  background: #f3fafa;
  padding: 54px 0;
  text-align: center;
}

footer .copy{
  color: #979797;
  font-size: 0.9rem;
  font-weight: 400;
  margin-bottom: 15px;
}
footer .footer-sociales a{
  display: inline-block;
  padding: 0 10px;
  color: #979797;
  text-decoration: none;
  font-weight: 500;
  font-size: 0.875rem;
  letter-spacing: 0;
  line-height: 1.5em;
  transition: all .3s ease;
}
footer .footer-sociales a:hover{
  color: #0089e0;
}

/* ============================ */
/* =====MEDIA QUERIES========== */
/* ============================ */

@media screen and (max-width: 1040px) {

  /* nuestro equipo */
  .main .equipo .titulo-section{
    margin-bottom: 60px;
  }
  .main .equipo .integrantes .persona{
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: left;
    align-items: center;
  }
  .main .equipo .integrantes .persona:first-child{
    margin-bottom: 20px;
  }

  .main .equipo .integrantes .persona .foto{
    margin-right: 20px;
    width: 100%
  }
  .main .equipo .integrantes .persona .foto img{
    width: 100%;
  }

  /* equipo */


}

@media screen and (max-width: 900px) {
  /* encabezado */
  .menu-desktop{
    display: none;
  }
  .menu-movil{
    display: block;
    width: 100%;
    padding: 5px 18px;
    background: #fff;
    color: #444444;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
  }
  .menu-movil .barra{
     display: flex;
     justify-content: space-between;
     align-items: center;
  }
  .menu-movil .barra .logo{
    width: 40px;
  }
  .menu-movil .barra a i{
    font-size: 1.4rem;
    color: #444444;
  }

  .menu-movil .menu-principal{
    width: 80%;
    display: block;
    position: fixed;
    top: 56px;
    left: -100% ;
    border-bottom: 1px solid rgba(204, 204, 204, 0.5);
    border-right: 1px solid rgba(204, 204, 204, 0.5);
    box-shadow: 0px 1px 5px -1px rgba(0,0,0,0.2);
    background: #fff;
    text-align: center;
  }
  .menu-movil .menu-principal a{
    display: block;
    padding: 16px;
    color: #444444;
    border-bottom: 1px solid rgba(204,204,204,0.5);
  }
  .menu-movil .menu-principal a:hover{
    background: #f7f7f7;
  }
  .menu-fixed{
    display: none;
  }
  .main{
    margin-top: 0;
  }
  /* sobre nosotros */
  .main .sobre-nosotros .contenedor .titulo-section, .main .sobre-nosotros .contenedor .texto-sobre-nosotros{
      width: 100%;
      text-align: center;
  }

  /* contacto */
  .main .contacto  .contenedor-formulario .formulario{
    width: 100%;
    text-align: center;
  }
  .main .contenedor .contenedor-formulario .foto{
    display: none;
  }
  .main .contenedor .contenedor-formulario form input[type="text"],
  .main .contenedor .contenedor-formulario form input[type="email"],
  .main .contenedor .contenedor-formulario form textarea
  {
    text-align: center;
  }
  /* tarjetas */

  .main .servicios .contenedor .galeria-servicios .tarjeta{
    width: 100%;
  }
}

@media screen and (max-width: 550px) {
  /* menu movil */
  .menu-movil .logo{
    font-size: 1.5rem;
  }
  /* banner principal */
  .main .banner-principal .texto-banner h1{
    font-size: 4rem;
  }
  /* titulo de secciones */
  .titulo-section h2{
    font-size: 2.125rem;
  }
  /* servicios */
  .main .servicios .galeria-servicios .servicio{
    width: 49%;
  }
  /* equipo */
  .main .equipo .integrantes .persona{
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  /* clientes  */
  .main .clientes .contenedor .titulo-section{
    margin-top: 20px;
  }
  .main .clientes .contenedor .cliente .foto{
    max-width: 100%;
  }
  .main .clientes .contenedor .cliente .foto img{
    width: 100%;
  }
  .main .contenedor-slider .titulo-slider h2{
    font-size: 2rem;
  }
  /* slider */
  .main .contenedor-slider  .slider .tarjeta > p{
    display: none;
  }
  .main .contenedor-slider  .slider .tarjeta .verMas p a{

    display: inline-block;
    padding: 0 10px;
    color: #FF9500;
    text-decoration: none;
    font-weight: 300;
    font-size: 1rem;
    letter-spacing: 0;
    line-height: 1.5em;
    transition: all .3s ease;
    border: 1px solid #B26800;
    border-radius: 3px;
  }

  /* sobre nosotras */
  .main .sobre-nosotros .contenedor .texto-sobre-nosotros{
    text-align: left;
  }
}
